
<!doctype html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/jobboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Apr 2023 09:40:05 GMT -->
<head>
	<title>JobBoard &mdash; Website Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Free-Template.co" />
	<link rel="shortcut icon" href="~/assets/ftco-32x32.html">
	<link rel="stylesheet" href="~/assets/css/custom-bs.css">
	<link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="~/assets/fonts/icomoon/style.css">
	<link rel="stylesheet" href="~/assets/fonts/line-icons/style.css">
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
	<script nonce="9a301347-98e4-4802-b5c5-d5b9aac14be5">(function (w, d) { !function (f, g, h, i) { f[h] = f[h] || {}; f[h].executed = []; f.zaraz = { deferred: [], listeners: [] }; f.zaraz.q = []; f.zaraz._f = function (j) { return function () { var k = Array.prototype.slice.call(arguments); f.zaraz.q.push({ m: j, a: k }) } }; for (const l of ["track", "set", "debug"]) f.zaraz[l] = f.zaraz._f(l); f.zaraz.init = () => { var m = g.getElementsByTagName(i)[0], n = g.createElement(i), o = g.getElementsByTagName("title")[0]; o && (f[h].t = g.getElementsByTagName("title")[0].text); f[h].x = Math.random(); f[h].w = f.screen.width; f[h].h = f.screen.height; f[h].j = f.innerHeight; f[h].e = f.innerWidth; f[h].l = f.location.href; f[h].r = g.referrer; f[h].k = f.screen.colorDepth; f[h].n = g.characterSet; f[h].o = (new Date).getTimezoneOffset(); if (f.dataLayer) for (const s of Object.entries(Object.entries(dataLayer).reduce(((t, u) => ({ ...t[1], ...u[1] }))))) zaraz.set(s[0], s[1], { scope: "page" }); f[h].q = []; for (; f.zaraz.q.length;) { const v = f.zaraz.q.shift(); f[h].q.push(v) } n.defer = !0; for (const w of [localStorage, sessionStorage]) Object.keys(w || {}).filter((y => y.startsWith("_zaraz_"))).forEach((x => { try { f[h]["z_" + x.slice(7)] = JSON.parse(w.getItem(x)) } catch { f[h]["z_" + x.slice(7)] = w.getItem(x) } })); n.referrerPolicy = "origin"; n.src = "../../assets/cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(f[h]))); m.parentNode.insertBefore(n, m) };["complete", "interactive"].includes(g.readyState) ? zaraz.init() : f.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>

</head>
<body id="top">
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div class="site-wrap">
		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>

		<header class="site-navbar mt-3">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="site-logo col-6"><a asp-action="index" asp-controller="home">JobBoard</a></div>
					<nav class="mx-auto site-navigation">
						<ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
							<li><a asp-action="index" asp-controller="home" class="nav-link active">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li class="has-children">
								<a asp-action="jobs" asp-controller="job">Job Listings</a>
								<ul class="dropdown">
									<li><a href="job-single.html">Job Single</a></li>
									<li><a href="post-job.html">Post a Job</a></li>
								</ul>
							</li>
							<li class="has-children">
								<a href="services.html">Pages</a>
								<ul class="dropdown">
									<li><a href="services.html">Services</a></li>
									<li><a href="service-single.html">Service Single</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="portfolio-single.html">Portfolio Single</a></li>
									<li><a href="testimonials.html">Testimonials</a></li>
									<li><a href="faq.html">Frequently Ask Questions</a></li>
									<li><a href="gallery.html">Gallery</a></li>
								</ul>
							</li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>

							<li class="d-lg-none"><a href="login.html">Log In</a></li>
						</ul>
					</nav>
					<div class="right-cta-menu text-right d-flex aligin-items-center col-6">
						<div class="ml-auto">
							@if (User.IsInRole("Member") == true)
							{
								<a asp-action="createcompany" asp-controller="job" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Create a Company</a>
							}
							else if (User.IsInRole("Company") == true)
							{
								<a asp-action="CreateJob" asp-controller="job" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
							}
							@if (User.IsInRole("Company") && User.Identity.IsAuthenticated)
							{
								<a asp-action="joblist" asp-controller="job" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block">Your Job List</a>

							}
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="register" asp-controller="account" style="color:#eef23ecf;" class="btn btn-outline-primary border-width-2 d-none d-lg-inline-block">AdminPanel</a>

							}
							@if (User.Identity.IsAuthenticated)
							{
								<a asp-action="logout" asp-controller="account" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Logout</a>
							}
							else
							{
								<a asp-action="login" asp-controller="account" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
								<a asp-action="register" asp-controller="account" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Register</a>
							}
							
						</div>
						<a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
					</div>
				</div>
			</div>
		</header>

		@RenderBody()
		<footer class="site-footer">
			<a href="#top" class="smoothscroll scroll-top">
				<span class="icon-keyboard_arrow_up"></span>
			</a>
			<div class="container">
				<div class="row mb-5">
					<div class="col-6 col-md-3 mb-4 mb-md-0">
						<h3>Search Trending</h3>
						<ul class="list-unstyled">
							<li><a href="#">Web Design</a></li>
							<li><a href="#">Graphic Design</a></li>
							<li><a href="#">Web Developers</a></li>
							<li><a href="#">Python</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">CSS3</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3 mb-4 mb-md-0">
						<h3>Company</h3>
						<ul class="list-unstyled">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Resources</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3 mb-4 mb-md-0">
						<h3>Support</h3>
						<ul class="list-unstyled">
							<li><a href="#">Support</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3 mb-4 mb-md-0">
						<h3>Contact Us</h3>
						<div class="footer-social">
							<a href="#"><span class="icon-facebook"></span></a>
							<a href="#"><span class="icon-twitter"></span></a>
							<a href="#"><span class="icon-instagram"></span></a>
							<a href="#"><span class="icon-linkedin"></span></a>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						<p class="copyright">
							<small>

								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
							</small>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/isotope.pkgd.min.js"></script>
	<script src="~/assets/js/stickyfill.min.js"></script>
	<script src="~/assets/js/jquery.fancybox.min.js"></script>
	<script src="~/assets/js/jquery.easing.1.3.js"></script>
	<script src="~/assets/js/jquery.waypoints.min.js"></script>
	<script src="~/assets/js/jquery.animateNumber.min.js"></script>
	<script src="~/assets/js/owl.carousel.min.js"></script>
	<script src="~/assets/js/bootstrap-select.min.js"></script>
	<script src="~/assets/js/custom.js"></script>
	<script src="~/ckeditor/ckeditor.js"></script>
	<script src="~/manage/js/main.js"></script>
	<script>
		CKEDITOR.replace("editorId");
	</script>


	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bc5249ccfa98ec6","version":"2023.3.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/jobboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Apr 2023 09:40:16 GMT -->
</html>